<div class="layout-element-wrapper">
    <ul class="layout-panel layout-panel-main">
        <li class="layout-panel-item layout-panel-label">Row</li>
        <li class="layout-panel-item layout-panel-action layout-panel-action-properties layout-popup-trigger" title="Edit row properties (Space)">
            <i class="fa fa-edit"></i>
            <ul class="layout-popup layout-popup-edit" orc-layout-popup>
                <li class="layout-popup-item layout-popup-input">
                    <label>HTML ID:</label>
                    <input type="text" ng-model="element.htmlId" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS classes:</label>
                    <input type="text" ng-model="element.htmlClass" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS styles:</label>
                    <input type="text" ng-model="element.htmlStyle" />
                </li>
            </ul>
        </li>
        <li class="layout-panel-item layout-panel-action" title="Delete row (Del)" ng-click="element.delete()"><i class="fa fa-remove"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move row up (Ctrl+Up)" ng-click="element.moveUp()" ng-class="{disabled: !element.canMoveUp()}"><i class="fa fa-chevron-up"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move row down (Ctrl+Down)" ng-click="element.moveDown()" ng-class="{disabled: !element.canMoveDown()}"><i class="fa fa-chevron-down"></i></li>
    </ul>
    <ul class="layout-panel layout-panel-add">
        <li class="layout-panel-item layout-panel-action" title="Add new column to row (Ins)" ng-click="element.addColumn()" ng-class="{disabled: !element.canAddColumn()}"><i class="fa fa-plus"></i></li>
    </ul>
    <div class="layout-children" ng-model="element.children" ui-sortable="sortableOptions">
        <div ng-repeat="child in element.children" ng-class="getClasses(child)" ng-mouseenter="child.setIsActive(true)" ng-mouseleave="child.setIsActive(false)" ng-click="click(child, $event)" tabindex="{{$id}}">
            <orc-layout-child element="child" />
        </div>
    </div>
</div>
