<div class="layout-editor-wrapper">
    <div id="layout-canvas-{{$id}}" class="layout-element layout-container layout-canvas" ng-class="getClasses(element)" ng-mouseenter="element.setIsActive(true)" ng-mouseleave="element.setIsActive(false)" ng-click="click(element, $event)" tabindex="{{$id}}">
        <div class="layout-toolbar-container"></div>
        <div class="layout-element-wrapper">
            <ul class="layout-panel layout-panel-main">
                <li class="layout-panel-item layout-panel-label">Canvas</li>
                <li class="layout-panel-item layout-panel-action" title="Activate inline editing" ng-click="activateInlineEditing()" ng-class="{disabled: element.canvas.inlineEditingIsActive}"><i class="fa fa-paragraph"></i></li>
                <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Edit canvas properties">
                    <i class="fa fa-edit"></i>
                    <ul class="layout-popup layout-popup-edit" orc-layout-popup>
                        <li class="layout-popup-item layout-popup-input">
                            <label>ID:</label>
                            <input type="text" ng-model="element.id" />
                        </li>
                        <li class="layout-popup-item layout-popup-input">
                            <label>CSS classes:</label>
                            <input type="text" ng-model="element.cssClasses" />
                        </li>
                        <li class="layout-popup-item layout-popup-input">
                            <label>CSS styles:</label>
                            <input type="text" ng-model="element.cssStyles" />
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="layout-panel layout-panel-add">
                <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Add new element to canvas">
                    <i class="fa fa-plus"></i>
                    <ul class="layout-popup layout-popup-add" orc-layout-popup orc-layout-popup-my="left bottom" orc-layout-popup-at="left top-4px">
                        <div class="layout-popup-flex">
                            <div class="layout-popup-column">
                                <li class="layout-popup-item layout-popup-label">Layout</li>
                                <li class="layout-popup-item layout-popup-action" ng-repeat="operation in element.availableAddOperations" ng-click="operation.invoke()">{{::operation.name}}</li>
                            </div>
                            <div class="layout-popup-column" ng-repeat="category in element.canvas.config.categories">
                                <li class="layout-popup-item layout-popup-label">{{::category.name}}</li>
                                <li class="layout-popup-item layout-popup-action" ng-repeat="contentType in category.contentTypes" ng-click="invokeAddContentElement(contentType)">{{::contentType.label}}</li>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
            <div class="layout-container-children-placeholder" ng-if="element.children.length === 0">
                This layout canvas is empty. Click the 'Add' icon to add elements to the layout.
            </div>
            <div class="layout-children" ng-model="element.children" ui-sortable="sortableOptions">
                <div ng-repeat="child in element.children" ng-class="getClasses(child)" ng-mouseenter="child.setIsActive(true)" ng-mouseleave="child.setIsActive(false)" ng-click="click(child, $event)" tabindex="{{$id}}">
                    <orc-layout-child element="child" />
                </div>
            </div>
        </div>
    </div>
</div>