<div class="layout-element layout-container layout-canvas" ng-class="getClasses()" ng-mouseenter="setIsActive()" ng-mouseleave="clearIsActive()" ng-click="setIsFocused($event)">
    <ul class="layout-panel layout-panel-main">
        <li class="layout-panel-item layout-panel-label">Canvas</li>
        <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Edit canvas properties">
            <i class="fa fa-edit"></i>
            <ul class="layout-popup layout-popup-edit" orc-layout-popup>
                <li class="layout-popup-item layout-popup-input">
                    <label>ID:</label>
                    <input type="text" ng-model="element.id" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS classes:</label>
                    <input type="text" ng-model="element.cssClasses" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS styles:</label>
                    <input type="text" ng-model="element.cssStyles" />
                </li>
            </ul>
        </li>
    </ul>
    <ul class="layout-panel layout-panel-add">
        <li class="layout-panel-item layout-panel-action" title="Add new element to canvas"><i class="fa fa-plus"></i></li>
    </ul>
    <div class="layout-container-children-placeholder" ng-if="element.children.length === 0">
        This layout canvas is empty. Click the 'Add' icon to add elements to the layout.
    </div>
    <div class="layout-child-wrapper" ng-repeat="child in element.children" data-orc-forcontainer="{{child.isContainer}}">
        <orc-layout-child element="child" />
    </div>
</div>