<div class="layout-element-wrapper">
    <ul class="layout-panel layout-panel-main">
        <li class="layout-panel-item layout-panel-label">Grid</li>
        <li class="layout-panel-item layout-panel-action layout-panel-action-properties layout-popup-trigger" title="Edit grid properties (Space)" ng-if="!element.isTemplated">
            <i class="fa fa-edit"></i>
            <ul class="layout-popup layout-popup-edit" orc-layout-popup>
                <li class="layout-popup-item layout-popup-input">
                    <label>HTML ID:</label>
                    <input type="text" ng-model="element.htmlId" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS classes:</label>
                    <input type="text" ng-model="element.htmlClass" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS styles:</label>
                    <input type="text" ng-model="element.htmlStyle" />
                </li>
            </ul>
        </li>
        <li class="layout-panel-item layout-panel-action" title="Delete grid (Del)" ng-click="delete(element)" ng-if="!element.isTemplated"><i class="fa fa-remove"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move grid up (Ctrl+Up)" ng-click="element.moveUp()" ng-class="{disabled: !element.canMoveUp()}" ng-if="!element.isTemplated"><i class="fa fa-chevron-up"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move grid down (Ctrl+Down)" ng-click="element.moveDown()" ng-class="{disabled: !element.canMoveDown()}" ng-if="!element.isTemplated"><i class="fa fa-chevron-down"></i></li>
    </ul>
    <ul class="layout-panel layout-panel-add">
        <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Add new row to grid (Ins)">
            <i class="fa fa-plus"></i>
            <ul class="layout-popup layout-popup-add" orc-layout-popup orc-layout-popup-my="left bottom" orc-layout-popup-at="left top-4px">
                <li class="layout-popup-item layout-popup-label">New row configuration</li>
                <li class="layout-popup-item layout-popup-action" ng-repeat="operation in element.availableAddOperations" ng-click="operation.invoke()">{{::operation.name}}</li>
            </ul>
        </li>
    </ul>
    <div class="layout-children" ng-model="element.children" ui-sortable="sortableOptions">
        <div ng-repeat="child in element.children" ng-class="getClasses(child)" ng-mouseenter="child.setIsActive(true)" ng-mouseleave="child.setIsActive(false)" ng-click="click(child, $event)" tabindex="{{$id}}">
            <orc-layout-child element="child" />
        </div>
    </div>
</div>
