<div class="layout-element layout-container layout-grid" ng-class="getClasses()" ng-mouseenter="setIsActive()" ng-mouseleave="clearIsActive()" ng-click="setIsFocused($event)">
    <ul class="layout-panel layout-panel-main">
        <li class="layout-panel-item layout-panel-label">Grid</li>
        <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Edit grid properties">
            <i class="fa fa-edit"></i>
            <ul class="layout-popup layout-popup-edit" orc-layout-popup>
                <li class="layout-popup-item layout-popup-input">
                    <label>ID:</label>
                    <input type="text" ng-model="element.id" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS classes:</label>
                    <input type="text" ng-model="element.cssClasses" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS styles:</label>
                    <input type="text" ng-model="element.cssStyles" />
                </li>
            </ul>
        </li>
        <li class="layout-panel-item layout-panel-action" title="Delete grid" ng-click="delete($event)"><i class="fa fa-remove"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move grid up" ng-click="moveUp($event)" ng-class="{disabled: !element.canMoveUp()}"><i class="fa fa-chevron-up"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move grid down" ng-click="moveDown($event)" ng-class="{disabled: !element.canMoveDown()}"><i class="fa fa-chevron-down"></i></li>
    </ul>
    <ul class="layout-panel layout-panel-add">
        <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Add new row to grid">
            <i class="fa fa-plus"></i>
            <ul class="layout-popup layout-popup-add" orc-layout-popup orc-layout-popup-my="left bottom" orc-layout-popup-at="left top-4px">
                <li class="layout-popup-item layout-popup-label">Row content</li>
                <li class="layout-popup-item layout-popup-action" ng-repeat="operation in element.availableAddOperations" ng-click="invokeAddOperation(operation, $event)">{{operation.name}}</li>
            </ul>
        </li>
    </ul>
    <!--<div class="layout-container-children-placeholder" ng-if="element.children.length === 0">
        This grid is empty. Click the 'Add' icon to add rows to the grid.
    </div>-->
    <div class="layout-child-wrapper" ng-repeat="child in element.children" data-orc-forcontainer="{{child.isContainer}}">
        <orc-layout-child element="child" />
    </div>
</div>