<div class="layout-element-wrapper">
    <ul class="layout-panel layout-panel-main">
        <li class="layout-panel-item layout-panel-label">Column ({{element.width}})</li>
        <li class="layout-panel-item layout-panel-action layout-panel-action-properties layout-popup-trigger" title="Edit column properties (Space)">
            <i class="fa fa-edit"></i>
            <ul class="layout-popup layout-popup-edit" orc-layout-popup>
                <li class="layout-popup-item layout-popup-input">
                    <label>HTML ID:</label>
                    <input type="text" ng-model="element.htmlId" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS classes:</label>
                    <input type="text" ng-model="element.htmlClass" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS styles:</label>
                    <input type="text" ng-model="element.htmlStyle" />
                </li>
            </ul>
        </li>
        <li class="layout-panel-item layout-panel-action" title="Delete column (Del)" ng-click="delete(element)"><i class="fa fa-remove"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move column left (Ctrl+Left)" ng-click="element.moveUp()" ng-class="{disabled: !element.canMoveUp()}"><i class="fa fa-chevron-left"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move column right (Ctrl+Right)" ng-click="element.moveDown()" ng-class="{disabled: !element.canMoveDown()}"><i class="fa fa-chevron-right"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Split column" ng-click="element.split()" ng-class="{disabled: !element.canSplit()}"><i class="fa fa-columns"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Decrease column offset (Alt+Left)" ng-click="element.expandLeft(false)" ng-class="{disabled: !element.canExpandLeft(false)}"><i class="fa fa-outdent"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Increase column offset (Alt+Right)" ng-click="element.contractLeft(false)" ng-class="{disabled: !element.canContractLeft(false)}"><i class="fa fa-indent"></i></li>
    </ul>
    <ul class="layout-panel layout-panel-add">
        <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Add new element to column (Ins)">
            <i class="fa fa-plus"></i>
            <ul class="layout-popup layout-popup-add" orc-layout-popup orc-layout-popup-my="left bottom" orc-layout-popup-at="left top-4px">
                <div class="layout-popup-flex">
                    <div class="layout-popup-column">
                        <li class="layout-popup-item layout-popup-label">Layout</li>
                        <li class="layout-popup-item layout-popup-action" ng-repeat="operation in element.availableAddOperations" ng-click="operation.invoke()">{{::operation.name}}</li>
                    </div>
                    <div class="layout-popup-column" ng-repeat="category in element.canvas.config.categories">
                        <li class="layout-popup-item layout-popup-label">{{::category.name}}</li>
                        <li class="layout-popup-item layout-popup-action" ng-repeat="contentType in category.contentTypes" ng-click="invokeAddContentElement(contentType, $event)">{{::contentType.label}}</li>
                    </div>
                </div>
            </ul>
        </li>
    </ul>
    <div class="layout-column-resize-bar layout-column-resize-bar-left"></div>
    <div class="layout-column-resize-bar layout-column-resize-bar-right"></div>
    <div class="layout-children" ng-model="element.children" ui-sortable="sortableOptions">
        <div ng-repeat="child in element.children" ng-class="getClasses(child)" ng-mouseenter="child.setIsActive(true)" ng-mouseleave="child.setIsActive(false)" ng-click="click(child, $event)" tabindex="{{$id}}">
            <orc-layout-child element="child" />
        </div>
    </div>
</div>