<div class="layout-element-wrapper">
    <ul class="layout-panel layout-panel-main">
        <li class="layout-panel-item layout-panel-label">{{::element.contentTypeLabel}}</li>
        <li class="layout-panel-item layout-panel-action" title="Edit {{element.contentTypeLabel}} content" ng-click="edit()"><i class="fa fa-code"></i></li>
        <li class="layout-panel-item layout-panel-action layout-popup-trigger" title="Edit {{element.contentTypeLabel}} properties">
            <i class="fa fa-edit"></i>
            <ul class="layout-popup layout-popup-edit" orc-layout-popup>
                <li class="layout-popup-item layout-popup-input">
                    <label>ID:</label>
                    <input type="text" ng-model="element.id" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS classes:</label>
                    <input type="text" ng-model="element.cssClasses" />
                </li>
                <li class="layout-popup-item layout-popup-input">
                    <label>CSS styles:</label>
                    <input type="text" ng-model="element.cssStyles" />
                </li>
            </ul>
        </li>
        <li class="layout-panel-item layout-panel-action" title="Delete {{element.contentTypeLabel}}" ng-click="element.delete()"><i class="fa fa-remove"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move {{element.contentTypeLabel}} up" ng-click="element.moveUp()" ng-class="{disabled: !element.canMoveUp()}"><i class="fa fa-chevron-up"></i></li>
        <li class="layout-panel-item layout-panel-action" title="Move {{element.contentTypeLabel}} down" ng-click="element.moveDown()" ng-class="{disabled: !element.canMoveDown()}"><i class="fa fa-chevron-down"></i></li>
    </ul>
    <div id="layout-content-markup-{{$id}}" class="layout-content-markup" ng-bind-html="element.html"></div>
</div>