@import "Variables.less";

.layout-editor {
    .layout-canvas {
        background-color: @gray-bg;

        &:not(.layout-element-active):not(.layout-element-focused) {
            border: 1px solid @gray-border;
            padding: @container-padding - 1px;
        }

        > .layout-element-wrapper > .layout-container-children-placeholder {
            min-height: 300px;
        }
    }
}
