@import "Variables.less";

.layout-editor-wrapper {
    .layout-canvas {
        background-color: @gray-bg;
        font-size: @font-size;

        /*> .layout-toolbar-container > .mce-panel {
            margin-bottom: @container-padding;
        }*/

        > .layout-element-wrapper > .layout-container-children-placeholder {
            min-height: 300px;
        }
    }
}
