@import "Variables.less";

.layout-editor {
    .layout-container {
        padding: @container-padding;
        
        // All adjacent child wrappers which wrap a non-container element need some space between.
        > layout-element-wrapper > .layout-children > .layout-element:not(.layout-container) + .layout-element:not(.layout-container) {
            margin-top: @content-spacing;
        }

        &.layout-element-active, &.layout-element-focused
        {
            padding: @container-padding - 2px;
        }

        &.layout-element-focused:not(.layout-element-droptarget) > .layout-element-wrapper > .layout-children {
            > .layout-element:not(.layout-element-active) {
                border: 1px dashed fade(@gray-border, 60%);
            }

            > .layout-element + .layout-element.layout-container:not(.layout-element-active) {
                border-top: 0;
                padding-top: @container-padding;
            }

            > .layout-element + .layout-element.layout-content:not(.layout-element-active) {
                border-top: 0;
                padding-top: @content-padding;
            }
        }
    }

    .layout-element-focused > .layout-element-wrapper > .layout-children > .layout-container:not(.layout-element-active) {
        padding: @container-padding - 1px;
    }
}
