@import "Variables.less";

.layout-editor {
    .layout-row {
        > .layout-element-wrapper {
            > .layout-panel-add {
                margin: auto 0;
                left: auto;
                right: -2px;
                top: 0;
                bottom: 0;
            }
        }

        &.layout-element-focused:not(.layout-element-droptarget) > .layout-element-wrapper > .layout-children {
            > .layout-element:not(.layout-element-active) {
                border: 1px dashed fade(@gray-border, 60%) !important;
                padding: @container-padding - 1px !important;
            }

            > .layout-element + .layout-element:not(.layout-element-active) {
                border-left: 0 !important;
                padding-left: @container-padding !important;
            }
        }
    }
}